*.py[cod]
.hgignore~
.gitignore~
.hg/
.hgtags
.tox/
.travis.yml~
.idea/

MANIFEST.in~
tmp/
.zip
/codebin/
/release/
/releases/
/forks/
/deploy/
/examples/db/example.db
/examples/tmp/
/examples/logs/
/examples/media/cache/
/examples/static/
/builddocs/
/builddocs.zip
/build/
/dist/
/var/
/src/django_nine.egg-info
/examples/simple/simple/local_settings.py
/examples/simple/db.sqlite3
